<div class="row">
<div class="col-xs-12">
<h1>About Me</h1>
</div>
<div class="col-xs-6">
<p>I first became interested in HTML when I was around 16 years old. I wanted to learn how to make
a website, so I bought a book and taught myself. This has been a constant in my life: if I want to
know how to do something, I do the research and then make it happen.</p>
	
	<p>At first I had more interest in front-end development, but as time went on I became more and more
	interested in back-end development. I love the challenge of taking an idea, and turning it into a 
	working application. As someone who is passionate about knowledge and learning, the fact that the
	world of programming and web development requires a commitment to constantly educating one's self
	is a huge draw. I think this is one of my greatest assets as an employee: my tenacity when it comes
	to picking up something I need to know quickly.</p>
	
	<p>My commitment to learning carries over into other areas of my life as well. I have been riding
	dressage since the age of seven, and teaching and training people and horses since the age of 21,
	but I still take lessons, attend symposiums, and read books in an effort to refine my skills. Friends 
	and family sometimes ask, "Don't you know how to ride yet?", but every day is an opportunity to improve. 
	As Jiro Ono says in the film <em>Jiro Dreams of Sushi</em>,</p>
	
	<blockquote>I do the same thing over and over, improving bit by bit. There is always a yearning to 
	achieve more. I'll continue to climb, trying to reach the top, but no one knows where the top is.
	</blockquote>
</div>
<div class="col-xs-6">
<img src="assets/img/me-zurich.jpg" alt="Siobhan Byrne" class="img-responsive center-block portfolio" width="300" height="300">
<h3 class="text-center">Interests</h3>
<p class="text-center">Travel, photography, fitness, music.</p>

<h3 class="text-center">Music</h3>
<p class="text-center">Essential for living, and I love it all.</p>


<h3 class="text-center">Film/Television</h3>
<p class="text-center">Gritty crime dramas featuring a tough female lead, foreign films, documentaries, 
the classic works of Adam Sandler, and the best film of all time (<em>Roadhouse</em>, of course.)</p>
</div>
</div>