<div class="row">
	<div class="col-xs-12">
		<h1>Siobhan Byrne</h1>
			<span class="glyphicon glyphicon-envelope"> <a href="mailto:byrne.sio@gmail.com">byrne.sio@gmail.com</a></span><br />
			<span class="glyphicon glyphicon-phone-alt"> <a href="tel:+17324069606">732.406.9606</a></span><br />
			<span class="glyphicon glyphicon-user"> <a href="https://www.linkedin.com/profile/view?id=209697915" target="_blank">LinkedIn</a></span><br />
			<span class="glyphicon glyphicon-cog"> <a href="http://github.com/siobyrne/" target="_blank">GitHub</a></span>
	</div>
	<div class="col-xs-6">
		<h3>Summary</h3>
	</div>
	<div class="col-xs-6">
	<p class="resume">Highly motivated, results oriented professional with unique, well-rounded business experience. 
	Passionate about learning new technology and skill sets. Skilled at building effective, productive working relationships
	with internal and external customers. Quick learner with the ability to adapt in a rapidly changing environment and solve problems quickly
	and effectively. Able to prioritize multiple responsibilities with ease.</p>
	</div>
	<div class="col-xs-6">
		<h3>Education</h3>
	</div>
	<div class="col-xs-6">
		<p class="resume"><strong>Montgomery College - Rockville, Maryland</strong><br />
		Associate of Sciences in Web Development (In Progress)</p>
		<p><strong>Rutgers University - New Brunswick, New Jersey</strong><br />
		Bachelor of Arts in Philosophy</p>
	</div>
	<div class="col-xs-6">
		<h3>Experience</h3>
		</div>
		<div class="col-xs-6">
			<p class="resume"><strong>AOPA, Frederick, Maryland<br />November 2011 - May 2014<br />
			Web Applications Developer I (July 2013 - May 2014), Web Production Assistant (November 2011 - July 2013)</strong></p>
			<p>AOPA is an association that promotes general aviation. I was part of the I&T team that kept the website updated and functioning.</p>

			<h5>Responsibilities</h5>
			<p>Wrote and updated small scale web applications using Cold Fusion. Updated records in Oracle database using SQL. Updated and created pages
			using HTML and CSS, including creating HTML/CSS versions of print magazine layouts. Worked with Marketing department to create dynamic ads for the web using jQuery and JavaScript, as well as implementing 
			and customizing other jQuery plugins to enhance functionality of company website. Created and edited custom themes for WordPress blogs. Creation, 
			maintenance and testing of lessons in Absorb LMS. Liaison between  I&T and Finance departments, to ensure needs were being understood and met, 
			and projects were completed.</p>

			<p><strong>Freelance Web Developer, Frederick, Maryland<br />April 2010 - Present</strong></p>
			<p>I do freelance web development work on the side as time allows.</p>
			
			<h5>Responsibilities</h5>
			<p>Meeting with customers to determine needs and budget. Design and development of small business websites, beginning with the creation of 
			mockups and progressing to a finished site. Creation of custom themes and templates utilizing custom queries and custom fields, for sites 
			that utilize WordPress as a CMS.</p>
			
			<p><strong>Owner/Operator, Qualia Dressage, Frederick, Maryland<br />July 2007 - Present</strong></p>
			<p>Qualia Dressage is my training and teaching business that I have run since 2007.</p>
			
			<h5>Responsibilities</h5>
			<p>Sole proprietor of a horse training business. Training and competing horses for clients. Keeping clients informed of their
			horse's progress. Teaching riding lessons to clients, from beginners to advanced. Helping clients formulate and follow plans to
			achieve specific goals. Tracking expenses and income, and billing for services rendered.</p>
	</div>
	<div class="col-xs-12">
		<h3>Technology</h3>
	</div>
	<div class="col-xs-4">
		<h4>Tools</h4>
			<ul>
				<li>TextMate</li>
				<li>Photoshop</li>
				<li>phpMyAdmin</li>
				<li>Toad</li>
				<li>Git + GitHub</li>
				<li>Command line</li>
			</ul>
	</div>
	<div class="col-xs-4">
		<h4>Past Experience With</h4>
			<ul>
				<li>Cold Fusion</li>
				<li>PHP</li>
				<li>MySQL</li>
				<li>Oracle</li>
				<li>WordPress</li>
				<li>jQuery</li>
			</ul>
	</div>
	<div class="col-xs-4">
		<h4>Current Areas of Interest</h4>
			<ul>
				<li>Advanced WordPress customization</li>
				<li>Ruby</li>
				<li>Ruby on Rails</li>
				<li>Sinatra</li>
				<li>Bootstrap/CSS frameworks</li>
			</ul>
	</div>
</div><!-- .row -->


