<div class="row">
<div class="col-xs-12">
<h1>Work</h1>
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
<a href="http://www.aopa.org/apps/quizzes" title="Airplane Personality Quiz">
<img src="assets/img/screencap-quiz.jpg" alt="Airplane Personality Quiz" class="img-responsive center-block portfolio"></a>
<h5>Airplane Personality Quiz</h5>
<p>Back-end development only. Created with OO Cold Fusion and an Oracle database,
with an eye on to be able to accomodate different quizzes in the future with a
minimum of additional coding needed. Integrated Facebook sharing. </p>
<h5>Technology</h5>
	<ul>
		<li>Cold Fusion</li>
		<li>SQL</li>
		<li>Oracle</li>
		<li>Toad</li>
		<li>Dynamic Facebook Sharing</li>
	</ul>
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
<a href="http://www.aopa.org/madness" title="Favorite Aircraft Challenge">
<img src="assets/img/screencap-challenge.jpg" alt="Favorite Aircraft Challenge" class="img-responsive center-block portfolio"></a>
<h5>Favorite Aircraft Challenge</h5>
<p>Dynamic bracket for "Final Four" style online tournament using Cold Fusion functions and queries. Integrated and customized jQuery plugin
to dynamically display different photos, vote counts, and additional information.</p>
<h5>Technology</h5>
	<ul>
		<li>Cold Fusion</li>
		<li>SQL</li>
		<li>Oracle</li>
		<li>Toad</li>
		<li>jQuery</li>
	</ul>
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
<a href="http://www.qualiadressage.com" title="Qualia Dressage">
<img src="assets/img/screencap-qualia.jpg" alt="Qualia Dressage" class="img-responsive center-block portfolio"></a>
<h5>Qualia Dressage</h5>
<p>Front and back-end development. Small business website using WordPress as a CMS. 
Extensive customization, including custom templates, custom queries and functions,
custom fields, and a customized login page. Retrofitted to be responsive.</p>
<h5>Technology</h5>
	<ul>
		<li>HTML/CSS</li>
		<li>Web fonts</li>
		<li>Retrofitted responsive design</li>
		<li>WordPress</li>
		<li>PHP</li>
		<li>MySQL</li>
		<li>JavaScript</li>
		<li>jQuery</li>
		<li>Photoshop</li>
	</ul>
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
<a href="http://www.team-tatedressage.com" title="Team Tate Dressage">
<img src="assets/img/screencap-teamtate.jpg" alt="Team Tate Dressage" class="img-responsive center-block portfolio"></a>
<h5>Team Tate Dressage</h5>
<p>Front and back-end development. Extensive customization, including custom templates, custom queries and functions,
and custom fields. In the process of being modified to be responsive.</p>
<h5>Technology</h5>
	<ul>
		<li>HTML/CSS</li>
		<li>Web fonts</li>
		<li>WordPress</li>
		<li>PHP</li>
		<li>MySQL</li>
		<li>jQuery</li>
		<li>Photoshop</li>
	</ul>
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
<a href="http://www.pvdarideforlife.org" title="PVDA Ride for Life">
<img src="assets/img/screencap-r4l.jpg" alt="PVDA Ride for Life" class="img-responsive center-block portfolio"></a>
<h5>PVDA Ride for Life</h5>
<p>Front and back-end development. Customization of an existing theme, and writing
of small PHP scripts to process form data.</p>
<h5>Technology</h5>
	<ul>
		<li>HTML/CSS</li>
		<li>Web fonts</li>
		<li>WordPress</li>
		<li>PHP</li>
		<li>MySQL</li>
		<li>jQuery</li>
		<li>Photoshop</li>
	</ul>
</div>
</div>